.footer {
    margin: 0 auto;
    padding-bottom: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 30px;
}

@media screen and (min-width: 768px) and (max-width: 1023px) {
    .footer {
        padding: 88px 24px 24px 24px;
    }
}

@media screen and (max-width: 767px) {
    .footer {
        flex-direction: column;
        align-items: flex-start;
        padding: 64px 0 24px 16px;
    }
}